@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  max-width: 100vw;
  max-width: 100vw;
  border: 0.5px solid #d6d0d933;
  justify-content: space-between;
  box-shadow: 1px 1px 1px 0px #00000008;
  padding: 1rem 2rem;
}

.left-nav {
  display: flex;
  gap: 213px;
  align-items: center;
}

.left-nav input {
  width: 227px;
  border-radius: 16px;
  border: 1px solid #ceccd1;
  padding: 10px;
  outline: none;
}

.left-nav input::placeholder {
  color: #d6cce4;
}

.right-nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

.edit {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content-wrapper {
  display: flex;
  gap: 2rem;
}

aside {
  flex: 261px;
  max-width: 261px;
  height: 1025px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 0px 1rem;
  margin-top: 40px;
}

.up-options {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.up-options li {
  list-style-type: none;
  padding: 10px;
}

.up-options li a {
  text-decoration: none;
  display: flex;
  gap: 24px;
  align-items: center;
  font-weight: 400;
  color: #0a0018;
}

.up-options li:hover {
  background-color: #9a68e1;
  border-radius: 12px;
  color: #ceccd1;
}

.up-options li a:hover {
  color: #fff;
}

.down-opt li {
  list-style-type: none;
  padding: 0px 10px;
}

.down-opt li a {
  text-decoration: none;
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 400;
  color: #df0202;
}

.user {
  padding: 0px 10px;
  background: #f5efff;
  border-radius: 8px;
  min-height: 133px;
  max-width: 239px;
  display: flex;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.user-info div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.user-info div h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.user-info div p {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
}

.all-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.background-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 229, 255, 1);
  width: 100%;
  height: 1030px;
}

.background-container {
  width: 821px;
  height: 512px;
  background-image: url(../images/Minimuse-pics.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.profile-info {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  padding: 16px;
  width: 470px;
  height: 742px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  gap: 30px;
  top: 168px;
  left: 455px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: Fixed (203px) px;
  height: (180px) px;
  gap: 40px;
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile-text h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.13px;
}

.profile-pic-container {
  position: relative;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 112px;
  gap: 0px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-pics {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  border: none;
  cursor: pointer;
}

.edit-pics img {
  width: 20px;
  height: 17.7px;
  top: 1.48px;
  left: 1.87px;
  border: 1.5px 0px 0px 0px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 400px;
  padding-left: 35px;
}

.profile-details label {
  display: block;

  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  margin-bottom: 5px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.profile-details input,
.profile-details textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 16px;
  gap: 33px;
  height: 49px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.profile-details textarea {
  height: 131px;
}

.char-count {
  text-align: right;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
}

.profile-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 15px;
}

.btn {
  width: Fixed (80px) px;
  height: Fixed (38px) px;
  padding: 10px 15px;
  gap: 15px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  cursor: pointer;
}

.save {
  background: rgba(154, 104, 225, 1);
}

.cancel {
  background: rgba(118, 85, 164, 1);
}

.save:hover {
  transform: scale(1.1);
}

.cancel:hover {
  transform: scale(1.1);
}

.feeds-right {
  max-width: 349px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.small-btn-transparent {
  background-color: transparent;
  border: 1px solid #9747ff;
  color: #532abe;
}

.transparent-btn {
  text-align: center;
}

.mid-btn {
  padding: 10px 30px;
}

.follow {
  padding-right: 3rem;
  gap: 16px;
}

.feeds-right-2 {
  gap: 18px;
}

.text-sm {
  font-weight: 500;
  font-size: 14px;
}

.text-xs {
  font-weight: 400;
  font-size: 12px;
}

.pinned {
  width: 100%;
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pinned-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.pinned-follow {
  background: #ddd2ec;
  border-radius: 8px;
  padding: 0.7rem;
  gap: 0.5rem;
}

.pinned-follow-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.pinned-f-l {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.pinned-f-l h3 {
  font-weight: 500;
}

.pinned-down {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pinned-down h3 {
  font-weight: 400;
  font-size: 14px;
}
.verified {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.user-post {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.feed-profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-btn {
  background: #9a68e1;
  color: #fff;
  padding: 5px 15px;
  border-radius: 16px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

.small-btn-transparent {
  background-color: transparent;
  border: 1px solid #9747ff;
  color: #532abe;
}

.transparent-btn {
  text-align: center;
}

.mid-btn {
  padding: 10px 30px;
}

.edit-aside {
  max-width: 356px;
  width: 100%;
  height: 1025px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
